@mixin cta-button() {
  background-color: $blue;
  color: white;
  padding: 12px 35px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  font-weight:bold;
  display: inline-block;
  &:hover {
    background: darken($blue, 10%);
  }
}
@mixin cta-button-light() {
  color: $blue;
  padding: 12px 35px;
  border-radius: 5px;
  border:2px solid $blue;
  font-size: 18px;
  margin-top: 20px;
  font-weight:bold;
  display: inline-block;
  &:hover {
    background: darken($blue, 10%);
    color:white;
  }
}
@mixin cta-button-white-bg() {
  color: $blue;
  padding: 12px 35px;
  border-radius: 5px;
  border:2px solid $blue;
  font-size: 18px;
  margin-top: 20px;
  font-weight:bold;
  display: inline-block;
  background-color:white;
  &:hover {
    background: darken($blue, 10%);
    color:white;
  }
}
@mixin cta-button-white() {
  color: white;
  padding: 12px 35px;
  border-radius: 5px;
  border:2px solid white;
  font-size: 18px;
  margin-top: 20px;
  font-weight:bold;
  display: inline-block;
  &:hover {
    background: white;
    color:$blue;
  }
}
@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin mobilesmall {
  @media only screen and (max-width: $mobile-width-small) {
    @content;
  }
}
