#slice-id-faq-top{
  .column{
    padding:60px 0px 30px 0px;
    border-bottom:2px solid #1E3163;
  }
  .column-item{
    &:nth-child(1){
      h2{
        font-size:40px;
        margin:0px;
        font-weight:normal;
      }
      h3{
        font-size:40px;
        font-weight:bold;
        margin:10px 0px 0px 0px;
      }
    }
  }
}

#slice-id-faq-lower{
  .column{
    padding:40px 0px 60px 0px;
    .column-item{
      width: calc(100% / 3 - 15px);
    }
    h3{
font-size:23px;
font-weight:normal;
line-height:25px;
    }
    p{
      font-size:18px;
      line-height:21px;
    }
  }
}

#slice-id-footer-cta{
  .column{
    padding:120px 0px;
    color:white;
    align-items: center;
    h3{
      font-size:40px;
      margin-bottom:20px;
    }
    p{
      font-size:18px;
      margin-bottom:20px;
      margin-top:0px;
    }
    a{
      @include cta-button-white();
    }
  }
  .column-item{
    &:nth-child(2){
      text-align:right;
    }
  }
}